<div class="container">
	<h1>Racers</h1>
	<% @users.each do |user| %>
		<div class="col-md-4">		
			<div class="row">
				<div id="sidebar" class="col-xs-3">
					<%= image_tag user.image, class: "user_image" %></li>
				</div>
				<div id="content" class="col-xs-9">
					<strong><%= link_to user.name, user %></strong><br>
					Highest Score:  <% if user.scores.first  %>
							<%= user.scores('point DESC').first.point %> WPM
						<% else %>
							<%= "No score" %>
						<% end  %>

				</div>
			</div>
		</div>
	<% end %>
</div>
<div class="footer">
</div>

