<div class = "marce">
<% if current_user %>
              THIS SHOULD BE JUAN GAME!
<% else %>
	<div class="row">
  		<div class="col-md-4 col-md-offset-4">
  			<div class="btn btn-lg" id="ghost-btn">
				<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn" %>
			</div>
		</div>
	</div>
<% end %>
</div>


