$(document).ready(function(){

	var quote = ""

		//empezar aplicación
	$('.start').on("click", function(){
		$('.start').hide(),
		$('.square').append("<div id='countdown'></div>"),
		timer()
		quote_random()
	});

	// var counter = 0
	// var words = quote.split(" ")
	// edited_quote = quote
	// console.log(words)

	//resultado en tiempo y wmp
	var score = function(quote) {
		var characters = quote.length;
		// average 5 characters per word
		time = Math.round(((end_time - initial_time)/1000)*100)/100
		// console.log("segundos" +time)
		wpm = Math.round((characters * 60 / (5*time)) * 100) / 100
		// console.log("palabras:"+wpm)
		// console.log(wpm)
	}

	//Funcion para revisar sí la palabra que se ingresa es la correcta
	$(".square").keyup("#typing", function(e){		
		var test = $(this).find('#typing');
		//Cuando una palabra es igual
		if(e.keyCode == 32 && counter == 1){
			// console.log("borra text")
			delete_word();
			// highlight(words[0])
			counter = 0;
			test.val("");
			// console.log("que se va a cambiar " + edited_quote)
			$('.quote h4').html(edited_quote)
			// edited_quote = edited_quote.split(' ').shift().join(' ');
			// console.log($('.quote h4').html());
			// console.log(edited_quote);
		}

		//revisa sí es igual a la palabra
		if(test.val() == words[0]) {
			// console.log("revisa palabra");
			counter = 1;
			// console.log(counter);
			words.shift()
			// console.log(words)
		}

		//Cuando termina de escribir
		if(words.length == 0){
			test.val("");
			counter = 0;
			end_time = Date.now()
			score(quote)
			$('.quote').after("<button class='restart'>New game?</button>");
			$('.quote').find('h4').remove(),
			$('.quote').append("<h4>Time: "+time+" seconds<br>WPM: "+wpm+" </h4>"),
			// $('.quote').append("<h4>Time: "+time+"<br>WPM: "+wpm+" </h4>")
			$('#typing').remove(),
			words.push(1);
			//para hacer llamado ajax
			create_score()
		}
	});

		//Funcion para resetear  juego
	$('.square').on("click", ".restart", function(){
		$('.restart').hide(),
		$('.quote').remove(),
		$('#countdown360_countdown').show(),
		// quote = $('.quote h4').html(),
		edited_quote = quote,
		timer(),
		words = quote.split(" ")
		// console.log(words)
	});

	//funcion que permite que hace cuenta regresiva
	var timer = function() {
		$("#countdown").countdown360({
	    radius      : 60.5,
	    seconds     : 1,
	    strokeWidth : 15,
	    fillStyle   : '#0276FD',
	    strokeStyle : '#003F87',
	    fontSize    : 50,
	    fontColor   : '#FFFFFF',
	    autostart: false,
	    onComplete  : function () { 
				$('#countdown360_countdown').hide(),
	    	$('.square').append("<div class='quote'><h4>"+quote+"</h4></div>"),
				$('.quote').after("<input type='text' class='form-control' name='typing' id='typing' placeholder='Type your text here' autofocus>"),
				$('#typing').focus(),
				initial_time = Date.now()
				// highlight(words[0])
	    }
  	}).start()
	}

	//función para eliminar una palabra del texto
	var delete_word = function(){
		edited_quote = edited_quote.split(' ');
		edited_quote.shift();
		edited_quote = edited_quote.join(" ");
	}

	//función para haver ajax Call para crear un nuevo escore despues de cada juego
	var create_score = function() {
 	// 	console.log("entre a create score");
		// console.log(wpm);
		var current_user = $("#user_id").data('user');
		// console.log(current_user);
		data = {score:{user_id: current_user, point: wpm}};
		// console.log(data)
		// data = data.serialize()
		$.ajax ({
			url: "/scores/create",
			method: "POST",
			type: "json",
			data: data
		}).success(function(response){
			// console.log("respuesta exitosa ajax")
		}).error(function(e){
			// console.log(e)
		}).done(function(response){
			// console.log("respuesta ajax")
		});
	};

	//función para random quote
	var quote_random = function() {
		console.log("entre a random")
		$.ajax ({
			url: "/scores/quote",
			method: "GET",
			dataType: "json",
			success:function(result){
				console.log(result)
			},
			error:function(result){
				console.log(result.responseText),
				quote = result.responseText,
				counter = 0,
				words = quote.split(" "),
				edited_quote = quote
			}
		})
		// .success(function(e){
		// 	console.log("respuesta exitosa ajax")
		// 	console.log(e)
		// }).error(function(e){
		// 	console.log("respuesta fallida ajax")
		// 	console.log(e)
		// }).done(function(response){
		// 	console.log("termino ajax")
		// });
	};	

});




