.navbar .container {
	height: 65px;
	padding-top: 7px;
}

.marce {
	background-image: url(image-path("speed-background.jpg"));
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 770px;
	margin-top: -45px;
	margin-left: -15px;
	margin-right: -15px;
}

#ghost-btn {
	background: transparent;
	color: #F2F2F2;
	border-radius: 20px;
	border: 3px solid white;
	margin-top: 100px;
	width: 100%;
}

/*Typeracer game styles*/

.square {
	height: 300px;
	width: 400px;
	background: gray;
}

.start {
	position: relative;
	top: 130px;
	left: 110px;
	height: 40px;
	width: 180px;
	border-radius: 20px;
}

.quote {
	width: 360px;
	height: 180px;
	background: white;
	position: relative;
	top: 40px;
	left: 20px;
}

#typing {
	position: relative;
	top: 80px;
	left: 20px;
	width: 360px;
	height: 30px;
	background: whiteSmoke;
}

.restart {
	position: relative;
	top: 70px;
	left: 110px;
	height: 40px;
	width: 180px;
	border-radius: 20px;
}	

.highlight {
	color: #009900;
	text-decoration: underline;
}

.image_bar {
	width: 50px;
	border-radius: 50%;
}
