.navbar .container {
	height: 65px;
	padding-top: 7px;
}


.marce {
	background-image: url(image-path("speed-background.jpg"));
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 770px;
	margin-top: -45px;
	margin-left: -15px;
	margin-right: -15px;
}